<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="main1">
      <textarea id="emails"></textarea><br>
      <button id="ckeck">فحص</button>
      </div>
     
      <div id="main2" class="hide">
      <span id='eStat'></span><br><br>
        
      <textarea style="height: 297px;
    width: 368px; color:green;" readonly id="success"></textarea>
      </div>
      
      <script src="./javascripts/main.js"></script>
  </body>
</html>
